tests/fixtures/*.pkl filter=lfs diff=lfs merge=lfs -text
tests/fixtures/CIFAR10_model_config.pkl filter=lfs diff=lfs merge=lfs -text
tests/fixtures/DVS_model_config_shift=-17.pkl filter=lfs diff=lfs merge=lfs -text
tests/fixtures/DVS_model_small_config.pkl filter=lfs diff=lfs merge=lfs -text
